body {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

h1 {
    color: #000080; 
}

p {
    background-color: #DDA0DD;
}

h5 {
    color: #FFFFFF
}

.d-flex {
    align-items: center;
    border-radius: 13px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}