{% extends "layout.html" %}
{% block body %}
  <form method="POST" class="form">   
    <div class="row"> 
    {% for item, quantity in items.items() %}
      <div class="input-group">
+        <div class="col-sm">^M
+          <input class="form-control" type="text" value="{{ item }}" name="{{ item }}_name">^M
+        </div>^M
+        <div class="col-sm">^M
+          <input class="form-control"  type="text" value="{{ quantity }}" name="{{ item }}_quantity">^M
+        </div>^M
+        <div class="col-sm">^M
+          <input class="form-control"  type="checkbox" name="{{ item }}_delete">^M
+        </div>
      </div>
    {% endfor %}
    </div>
    <div class="row">
      <input class="btn btn-warning" type="submit" value="Update">
    </div>
  </form>
  <div class="row">
    <form method="POST">
      <input type="hidden" name="add">
      <input class="btn btn-primary" type="submit" value="Add">
    </form>
  </div>
{% endblock %}