{% extends "layout.html" %}
{% block body %}

    <div class="d-flex">
        <img src="https://4vector.com/iraw/free-vector-shopping-cart-clip-art_110489_Shopping_Cart_clip_art_hight.png" class="img-responsive" width="7%" /> 
        <div class="lh-100">
            <h2>
                ALMA SHOP
            </h2>
        </div>
    </div>
    <div class="container">
    <div class="col-8">
        <h3>
            The freshest fruits in our store :)
        </h3>
    </div>

    <form method="GET" class="form">   
        <div class="row justify-content-md-center">
            <div class="col-12"> 

            {% for item in items %}

              <div class="col-12">
                    <input class="form-control" type="text" value="{{ item.name }}" name="{{ item }}">
              </div>

            {% endfor %}
            </div>
        </div>
    </form>
    </div>
{% endblock %}